.box{
    width: 100px;
    height:100px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.locate{
    position: absolute;
    left: 30px;
    top : 30px;
}

.mother{
    border : 1px solid red;
    display: flex;
    height: 100vh;
    /*justify-content:space-evenly; 가로로 움직이기*/
    /*align-items: center; 세로로 움직이기*/
    flex-direction:column ; /*아이템 정렬을 가로->세로*/
    justify-content: flex-end;
}

.children{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}