.top{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: black;
    color: white;
    }

.group{
    display: flex;
}

.locate{
    margin-left:10px;
}

.q2{
    display: flex;
    flex-direction: column;
}

.two{
    align-self: center;
}

.three{
    align-self:flex-end;
}

.largeBox{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    background-color: grey;
    color: white;
    position: relative;
}

.q3{
    display: flex;
    justify-content: center;
}

.inBox{
    position: absolute;
    left: 50px;
    top: 50px;
}

.grey{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    position: relative;
    left: 100px;
    top:-100px;
    }
    
.coverBox{
    width: 600px;
    height: 300px;
    border: 1px solid gray;
    background-color: grey;
    color: white;
    position: absolute;
    bottom: -100;
    right: 0;
}


.inBox1{
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.inBox2{
    position: absolute;
    top: 0;
    right: 0;

}